.button {
    font: inherit;
    border: 1px solid #cdd5ce;
    background: #ffffff;
    color: #6cb96d;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 30px;
  }
  
  .button:hover,
  .button:active {
    background: #6cb96d;
    border-color: #61a257;
    color: white;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  